@import './variables.scss';

.root {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0.5rem 0.75rem rgba(198, 198, 198, 0.16);
  background-color: $white;
  height: calc(100vh - 48px - 0.5rem);
}