// brend colors
$brand-blue: #2FA8FF;
$brand-blue-20: #C1E9F5;

//main colors
$bg-color: #F1F3F6;
$white: #FFFFFF;

//text colors
$text-primary: #26273A;
$text-secondary: #89A1AF;
$text-tetrary: #B6BCC3;

//ui colors
$danger: #F15045;