@import '~styles/variables.scss';

.root {
  padding: 0 0.5rem;
}

.card {
  background-color: $white;
  border: 1px solid $text-secondary;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 12px;
}

.characteristic {
  padding: 1rem;
}

.price {
  margin-bottom: 0.75rem;
}

.priceSpan {
  font-size: 1.5rem;
  font-weight: 500;
}

.squarePice {
  color: $text-tetrary;
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

.line {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.dot {
  color: $text-secondary;
  margin: 0 0.5rem;
}

.tell {
  color: $brand-blue;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid $text-secondary;
}